QWidget#PicHandle{
	border-image:url(:/mainframe.png);
	border-width:25px 2px 50px 2px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
}
QToolButton#openBtn:!hover,QToolButton#renameBtn:!hover{
	border-image: url(:/clearn.png);
	border-width:2px 2px 2px 2px;
}

QToolButton#openBtn:hover,QToolButton#renameBtn:hover{
	border-image: url(:/clearh.png);
	border-width:2px 2px 2px 2px;
}

QToolButton#openBtn:pressed,QToolButton#renameBtn:pressed{
	border-image: url(:/clearp.png);
	border-width:2px 2px 2px 2px;
}

QScrollBar:vertical {
    background-color:#C6E2FF;
	width: 5px;
}

QScrollBar::handle:vertical {
    background-color:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,stop: 0 #aaddff, stop: 1 #ffbbee);
    min-height: 100px;
}

QScrollBar::handle:vertical:hover {
    background-color:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,stop: 0 #ffaacc, stop: 1 #ccffdd);
}

